@import './main_card.css';
@import './secondary_card.css';

main {
    padding: 80px 0;
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {
    main {
        padding: 40px 0;
    }

    .container {
        width: 95%;
    }
}