@import './css/header.css';
@import './css/footer.css';
@import './css/dashboard.css';
@import './css/settings_page.css';

/* RESET */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background: #faf2e3;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTILITY */
:root {
    --text-blue: #1a416b;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* LAYOUT */


/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}